img {
    width: 70vw;
}

h1 {
    opacity: 0;
    transform: translateX(-100px);
    transition: 0.8s 0.3s;
}

h1.active {
    opacity: 1;
    transform: translateX(0);
}

p.photo {
    opacity: 0;
    transform: scale(1.5);
    transition: 1.2s 0.5s;
}

p.photo.active {
    opacity: 1;
    transform: scale(1);
}

p.paragraph {
    transform: translateY(3rem);
    transition: 0.8s 0.3s;
}

p.paragraph.active {
    transform: translateY(0);
}